<div class="profile-header">
  <h1>STAR WARS</h1>
  <div class="project-name">THE SWAPI PROJECT</div>
</div>

  
  <div class="profile-container">
    <div class="profile-sidebar">
      <div class="profile-image">
        <img src="https://via.placeholder.com/150" alt="Character Image">
      </div>
      <div class="profile-details">
        <p>Name: {{ character.name }}</p>
        <p>Birth Year: {{ character.birth_year }}</p>
        <p>Gender: {{ character.gender }}</p>
        <p>Height: {{ character.height }}cm</p>
        <p>Weight: {{ character.mass }}kg</p>
        <p>Created On: {{ character.created | date:'dd/MM/yyyy HH:mm' }}</p>
        <p>Edited On: {{ character.edited | date:'dd/MM/yyyy HH:mm' }}</p>
        <p>Hair Color: {{ character.hair_color }}</p>
        <p>Eye Color: {{ character.eye_color }}</p>
        <p>Skin Color: {{ character.skin_color }}</p>
        <p>Homeworld: {{ homeworldName }}</p>
        <p>Species: {{ speciesName }}</p>
      </div>
    </div>
    <div class="profile-content">
      <div class="section">
        <h2>FILMS</h2>
        <ul>
          <li *ngFor="let film of films">{{ film.title }}</li>
        </ul>
      </div>
      <div class="section">
        <h2>VEHICLES</h2>
        <ul>
          <li *ngFor="let vehicle of vehicles">{{ vehicle.name }}</li>
        </ul>
      </div>
      <div class="section">
        <h2>STARSHIPS</h2>
        <ul>
          <li *ngFor="let starship of starships">{{ starship.name }}</li>
        </ul>
      </div>
      <button class="back-button" style="cursor: pointer;" (click)="navigateToHome()">Back to Home</button>
    </div>
  </div>
  